* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
}
main {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto 1fr;
}
#sources, #articles {
  border-right: 1px solid grey;
  user-select: none;
}
main > section {
  overflow-y: auto;
}
main > section > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid grey;
  border-left-width: 0;
  border-right-width: 0;
}
main > section > ul > li {
  display: flex;
  align-items: center;
  padding: 0 24px;
}
#sources li {
  height: 48px;
  min-width: 180px;
}
#articles li {
  height: 60px;
  min-width: 288px;
}
#contents {
  padding: 32px;
}